.tile {
    display: inline-flex;
    background-color: transparent;
}

.mapContainer {
    background-image: url('./fancy-cushion.png');
}

.row {
    height: 40px;
}

.grass {
}

.rock {
    background-image: url('./tiles/rock.png');
}

.tree {
    background-image: url('./tiles/tree.png');
}

.chest {
    background-image: url('./tiles/chest.png');
}

.bomb {
    background-image: url('./tiles/bomb.svg');
    background-size: 40px 40px;
}
.explosion {
    background-image: url('./tiles/explosion.png');
    background-size: 40px 40px;
}