.tile {
    display: inline-flex;
    background-color: transparent;
    background-size: 40px 40px;
}

.mapContainer {
    background-image: url('./fancy-cushion.png');
}

.row {
    height: 40px;
}

.grass {
}

.rock {
    background-image: url('./tiles/rock.png');
}

.tree {
    background-image: url('./tiles/tree.png');
}

.chest {
    background-image: url('./tiles/chest.png');
}
.crown {
    background-image: url('./tiles/003-crowns.png');
}

.bomb {
    background-image: url('./tiles/002-bomb.png');
}

.explosion {
    background-image: url('./tiles/explosion.png');
}
.upgrade {
    background-image: url('./tiles/001-system-update.png');
}